@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  background: #21201e;
  text-align: center;
  font-family: Roboto, serif;
  min-height: 100vh;
}

button {
  padding: 15px 35px;
  text-transform: uppercase;
  font-family: Poppins, serif;
  color: #eee;
  background: #21201e;
  border: none;
  border-radius: 50px;
  letter-spacing: 5px;
  margin-top: 40px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
button:hover {
  scale: 1.2;
  cursor: pointer;
}

a {
  cursor: pointer;
  color: #eee;
}
a:hover {
  font-size: 0.8rem;
}

header {
  background: url(../../assets/image/bg-slider-06.jpg) center/cover;
  height: 100vh;
  width: 100%;
  position: relative;
  color: #eee;
}
header nav {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 10% 82% 8%;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 1050px) {
  header nav {
    grid-template-columns: 10% 70% 8%;
  }
}
@media screen and (max-width: 750px) {
  header nav {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
header nav .nav-left {
  font-family: Allura, cursive;
  font-size: 1.6rem;
  text-align: left;
}
@media screen and (max-width: 750px) {
  header nav .nav-middle {
    display: none;
  }
}
header nav .nav-middle ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header nav .nav-middle ul li {
  font-family: Roboto, serif;
  text-transform: uppercase;
  font-size: 0.7rem;
}
header nav .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav .nav-right ul li {
  padding: 7px;
  scale: 0.8;
}
header nav .nav-right ul li:hover {
  scale: 1;
}
header .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
header .welcome .welcome-container {
  position: absolute;
  top: 34%;
}
header .welcome .welcome-container:before {
  content: "Welcome to";
  position: absolute;
  width: 200px;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 3rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -34px;
}
header .welcome .welcome-container h1 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: 10px;
}
@media screen and (max-width: 750px) {
  header .welcome .welcome-container h1 {
    font-size: 2rem;
  }
}
header .welcome .welcome-container img {
  scale: 0.6;
  margin-top: 25px;
}
header .welcome .welcome-container p {
  font-family: Roboto, serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.75rem;
  margin-top: 20px;
  font-weight: 200;
  text-align: center;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eee;
}
@media screen and (max-width: 750px) {
  .section1 {
    grid-template-columns: 1fr;
  }
}

.section1-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
  padding: 20px 15px;
  margin: 15px;
  border: 1px dashed rgb(166, 114, 69);
}
.section1-left::before {
  content: "Discover";
  position: absolute;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  top: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section1-left h3 {
  font-family: Poppins, serif;
  text-transform: uppercase;
  margin-top: 40px;
}
.section1-left #icon {
  margin: 25px 0;
}
.section1-left p {
  font-family: Roboto, serif;
}
.section1-left #chef {
  scale: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  right: 50%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.section1-left h4 {
  margin-top: 120px;
  font-family: Poppins, serif;
  font-weight: 400;
}
.section1-left h5 {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(128, 128, 128, 0.66);
}

.section1-right {
  background: url(../../assets/image/store-01.jpg) center/cover;
  overflow: hidden;
}
@media screen and (max-width: 750px) {
  .section1-right {
    display: none;
  }
}

.section2 {
  color: #eee;
  background: #21201e;
  position: relative;
  z-index: -2;
}
.section2::before {
  content: "";
  position: absolute;
  background: url(../../assets/image/bg-menu-01.jpg) bottom/cover;
  width: 100%;
  height: 89vh;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.section2::after {
  content: "Discover";
  position: absolute;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2rem;
  top: 50px;
  left: 50%;
  translate: -50%;
}
.section2 .section2-container {
  width: 52%;
  height: 100%;
  margin: 0 auto;
  padding: 120px 0;
  display: grid;
  grid-template-rows: 10% 90%;
}
.section2 .section2-container .section2-top {
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-rows: 1fr 50%;
}
.section2 .section2-container .section2-top ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section2 .section2-container .section2-top ul li {
  border-bottom: 1px solid #eee;
  padding: 50px 0 7px 0;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .section2 .section2-container .section2-top ul li {
    font-size: 0.8rem;
  }
}
.section2 .section2-container .section2-bottom {
  position: relative;
  height: 93.5%;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: 50px;
  padding-top: 40px;
  background: #eee;
  color: #21201e;
}
@media screen and (max-width: 1050px) {
  .section2 .section2-container .section2-bottom {
    grid-template-columns: 100%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  }
}
.section2 .section2-container .section2-bottom::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgba(130, 42, 42, 0.782);
  top: 0;
}
.section2 .section2-container .section2-bottom .plat {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  gap: 10px;
  width: 90%;
  padding: 10px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 40px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.208);
}
@media screen and (max-width: 450px) {
  .section2 .section2-container .section2-bottom .plat {
    grid-template-columns: 1fr;
  }
}
.section2 .section2-container .section2-bottom .plat img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 100%;
}
@media screen and (max-width: 750px) {
  .section2 .section2-container .section2-bottom .plat img {
    padding-top: 50px;
  }
}
@media screen and (max-width: 450px) {
  .section2 .section2-container .section2-bottom .plat img {
    padding-top: 50px;
    scale: 0.7;
  }
}
.section2 .section2-container .section2-bottom .plat .nom-du-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}
@media screen and (max-width: 650px) {
  .section2 .section2-container .section2-bottom .plat .nom-du-plat {
    text-align: center;
  }
}
.section2 .section2-container .section2-bottom .plat .nom-du-plat h4 {
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 30px;
}
.section2 .section2-container .section2-bottom .plat .nom-du-plat #igredients {
  text-align: left;
}
.section2 .section2-container .section2-bottom .plat #prix {
  color: rgba(130, 42, 42, 0.782);
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section3 {
  padding: 100px 15px 65px;
  background: #21201e;
}
.section3 .section3-container {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  max-width: 1050px;
}
@media screen and (max-width: 750px) {
  .section3 .section3-container {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-container .section3-left {
  height: 100%;
  color: #eee;
  background: black;
  width: 100%;
  font-family: Poppins, serif;
  padding: 25px;
}
.section3 .section3-container .section3-left .section3-left-container {
  border: 1px dashed #eee;
  position: relative;
}
.section3 .section3-container .section3-left .section3-left-container::before {
  content: "Time";
  position: absolute;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section3 .section3-container .section3-left .section3-left-container h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin: 50px 0 25px 0;
}
.section3 .section3-container .section3-left .section3-left-container img {
  height: 30px;
  width: 30px;
  margin-bottom: 20px;
}
.section3 .section3-container .section3-left .section3-left-container h4 {
  font-family: Poppins, serif;
  color: rgb(166, 114, 69);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 15px;
  margin-top: 20px;
}
.section3 .section3-container .section3-left .section3-left-container h4:last-child {
  margin-top: 50px;
  margin-bottom: 50px;
}
.section3 .section3-container .section3-left p {
  font-size: 0.9rem;
  font-family: Roboto, serif;
}
.section3 .section3-right {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 90px 90px 90px 60px;
  position: relative;
}
.section3 .section3-right::before {
  content: "Reservation";
  position: absolute;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  top: 60px;
  left: 47%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section3 .section3-right h3 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 2rem;
}
.section3 .section3-right img {
  margin: 30px 0 30px 0;
}
.section3 .section3-right .form-booking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  gap: 5px;
}
@media screen and (max-width: 1050px) {
  .section3 .section3-right .form-booking {
    grid-template-columns: 1fr;
  }
}
.section3 .section3-right .form-booking #people, .section3 .section3-right .form-booking input {
  background: transparent;
  border-style: none;
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}
.section3 .section3-right .form-booking #people:focus, .section3 .section3-right .form-booking input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}

.section4 {
  background: #21201e;
  position: relative;
}
@media screen and (max-width: 750px) {
  .section4 {
    display: none;
  }
}
.section4::before {
  content: "Upcoming";
  position: absolute;
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.section4 h2 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-size: 2rem;
  padding-top: 100px;
  color: #eee;
}
.section4 img {
  margin: 25px 0;
}
.section4 .section4-container {
  display: grid;
  grid-template-columns: 60% 40% !important;
  grid-template-rows: 50% 50%;
  grid-template: "b1 b2" "b11 b2";
  gap: 20px;
  height: 400px;
  width: 65%;
  margin: 0 auto;
}
.section4 .section4-container h3 {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.section4 .section4-container p {
  color: rgb(172, 172, 172);
  font-size: 0.9rem;
}
.section4 .section4-container button {
  text-transform: uppercase;
  font-family: Poppins, serif;
  color: #eee;
  background: #21201e;
  border: none;
  border-radius: 50px;
  letter-spacing: 3px;
  width: 50%;
  margin: 0 auto;
  padding: 10px 15px;
}
.section4 .section4-container button:hover {
  cursor: pointer;
}
.section4 .section4-container .box1 {
  grid-area: b1;
  display: grid;
  grid-template-columns: 40% 60%;
}
.section4 .section4-container .box1 .date-container {
  background: url(../../assets/image/event-01.jpg) center/cover;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .section4-container .box1 .date-container .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  background: #21201e;
  width: 100px;
  height: 100px;
  margin: auto;
  font-weight: bold;
}
.section4 .section4-container .box1 .date-container .date .date-grid {
  display: grid;
  grid-template-rows: 60% 40%;
}
.section4 .section4-container .box1 .date-container .date .date-grid h4 {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.section4 .section4-container .box1 .same-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #eee;
  text-align: left;
  padding: 15px;
}
.section4 .section4-container .box11 {
  grid-area: b11;
  display: grid;
  grid-template-columns: 40% 60%;
}
.section4 .section4-container .box11 .date-container {
  background: url(../../assets/image/event-02.jpg) center/cover;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section4 .section4-container .box11 .date-container .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  background: #21201e;
  width: 100px;
  height: 100px;
  margin: auto;
  font-weight: bold;
  font-size: 1rem;
}
.section4 .section4-container .box11 .date-container .date .date-grid {
  display: grid;
  grid-template-rows: 60% 40%;
}
.section4 .section4-container .box11 .date-container .date .date-grid h4 {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.section4 .section4-container .box11 .same-box-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #eee;
  text-align: left;
  padding: 15px;
}
.section4 .section4-container .box-right {
  grid-area: b2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(../../assets/image/event-03.jpg) center/cover;
}
.section4 .section4-container .box-right .box-right-container {
  background: #eee;
  margin: 30px;
  height: 100%;
}
.section4 .section4-container .box-right .box-right-container .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eee;
  background: #21201e;
  width: 100px;
  height: 100px;
  margin: auto;
  font-weight: bold;
  font-size: 1rem;
}
.section4 .section4-container .box-right .box-right-container .date .date-container {
  display: grid;
  grid-template-rows: 60% 40%;
}
.section4 .section4-container .box-right .box-right-container .date .date-container h4 {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.section4 .section4-container .box-right .box-right-container .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  height: 70%;
}

.section5 {
  height: 100vh;
  background: #21201e;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section5::after {
  content: "";
  position: absolute;
  background: url(../../assets/image/gmap.jpg) center/cover;
  width: 100%;
  height: 50vh;
  z-index: 1;
  top: 50%;
  left: 0;
}
.section5 .comment-container {
  z-index: 2;
  width: 65%;
  position: relative;
}
.section5 .comment-container::before {
  content: "";
  position: absolute;
  background: url(../../assets/image/avatar-02.jpg) center/cover;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
.section5 .comment-container .comment {
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section5 .comment-container .comment p {
  margin-top: 50px;
  line-height: 30px;
  width: 80%;
}
.section5 .comment-container .comment h3 {
  text-transform: uppercase;
  font-family: Poppins, serif;
  font-weight: 400;
  margin-top: 50px;
}
.section5 .comment-container .comment h4 {
  color: rgb(166, 114, 69);
  font-family: Allura, cursive;
  font-size: 1.5rem;
}

footer {
  background: url(../../assets/image/bg-footer.jpg) center/cover;
  z-index: -1;
  color: #eee;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 750px) {
  footer {
    background: none;
  }
}
footer .footer-grid {
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  grid-template-columns: 50% 50%;
  width: 70%;
  height: 250px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  footer .footer-grid {
    grid-template-columns: 1fr;
  }
}
footer .footer-grid .footer-left {
  text-align: left;
}
@media screen and (max-width: 750px) {
  footer .footer-grid .footer-left {
    display: none;
  }
}
footer .footer-grid .footer-left h2 {
  font-family: Allura, cursive;
  color: rgb(166, 114, 69);
  font-size: 2.5rem;
  font-weight: 400;
}
footer .footer-grid .footer-left p {
  font-size: 0.8rem;
  line-height: 30px;
  font-weight: 100;
  color: #eee;
}
footer .footer-grid .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
footer .footer-grid .footer-right .footer-right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 750px) {
  footer .footer-grid .footer-right .footer-right-top {
    margin-bottom: 50px;
  }
}
footer .footer-grid .footer-right .footer-right-top label {
  text-transform: uppercase;
  font-family: Poppins, serif;
}
footer .footer-grid .footer-right .footer-right-top input {
  background: transparent;
  padding: 5px 20px;
  border: 1px solid rgba(128, 128, 128, 0.289);
  margin-top: 5px;
}
footer .footer-grid .footer-right .footer-right-bottom label {
  text-transform: uppercase;
  font-family: Poppins, serif;
  margin-left: 60px;
}
footer .footer-grid .footer-right .footer-right-bottom i {
  padding: 0 15px;
  font-size: 0.7rem;
  color: grey;
}
footer .footer-grid .footer-right .footer-right-bottom i:hover {
  scale: 1.3;
}/*# sourceMappingURL=index.css.map */